/* button {
    padding: 30px;
    color: white;
    border-radius: 100%;
    font-size: 30px;
}

.buttonPanel div:first-child button {
    background-color: gray;
}

.buttonPanel div button:last-child {
    background-color: orange;
} */
